<!--<div id="chatInput" class="col-9">-->
  <!--<textarea type="text" id="form7" class="md-textarea"></textarea>-->
  <!--<label for="form7"></label>-->
  <!--<button id="post" class="btn-lg">Ayyy</button>-->
<!--</div>-->


<div id="reply-form" class="col-10">
  <div class="row">
    <div class="col-sm-8 col-md-11 ">
      <div  class="text">

        <!--<button id="submitButton" class="btn btn-primary waves-light" (click)="onClick()"><span class="glyphicon glyphicon-send"></span>Submit</button>-->
        <button type="button" id="submitButton" class="btn btn-default btn-sm" (click)="onClick()">
          <i class="glyphicon glyphicon-send" href=""></i>Send
        </button>
      </div>
      <div class="md-form">
        <textarea type="text" id="form8" class="md-textarea "></textarea>
        <label id="labelMessage" for="form8">Type something, ya' bitch boy</label>
      </div>
    </div>
  </div>
</div>
