<!--<div id="chatInput" class="col-9">-->
  <!--<textarea type="text" id="form7" class="md-textarea"></textarea>-->
  <!--<label for="form7"></label>-->
  <!--<button id="post" class="btn-lg">Ayyy</button>-->
<!--</div>-->


<div id="reply-form" class="col-10">
  <div class="row">
    <div class="col-sm-8 col-md-11 ">
      <div class="md-form form-sm">
        <!--<button type="input" id="submitButton" class="btn btn-primary waves-light" (click)="onClick(message)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
        <textarea type="text"  id="form8" #message class="md-textarea" (keyup.enter)="createMessage(message)" placeholder="Type something, ya' bish"></textarea>
        <!--<input type="text" id="form1" class="md-text">-->
      </div>

    </div>
  </div>
</div>
